#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0px;
	border: 10px solid #ccc;
	border-style:groove;
	border-radius: 20px;
	padding: 10px;
	border-image: url(border.png) 20% round;
}

#calendar div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0px solid #ccc;
    padding: 3px;
}

#calendar input {
    width: 80%;
    box-sizing: border-box; /* Ensures input width includes padding and border */
    padding: 5px;
    border: 1px solid #ccc;
	border-style:dashed;
	border-radius: 10px;
}

.btn-primary {
    background-color: #0d6efd;
    border-color: #0d6efd;
}
#month-selector {
  /* General styling */
  width: 130px;
  padding: 5px;
  background-color: #007cb7e3;
  border-color: #007cb7e3;
  border-radius: 5px;
  font-size: 14px;
  color:#fff;


}
